.app__todo {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(154, 243, 243);
}

.app__todo-detete {
  margin-top: 5px;
  padding: 5px;
  border: none;
  background-color: rgb(36, 126, 230);
  color: white;
  cursor: pointer;
}
