@import "../../vars.scss";

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid $todo-border;
  border-radius: 10px;
  margin: 30px 10px 0;
  background: $white-color;
  width: 550px;

  &__title {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  &__btn {
    margin: 15px;
    cursor: pointer;
    background: $btn-color;
    width: 150px;
    border: 1px solid $btn-color;
    border-radius: 7px;
    color: $white-color;
    transition: color 0.7s, border 1s;

    &:hover {
      color: $black-color;
      border: 1px solid $black-color;
    }
  }
}
