.CurrentUser {
  padding-bottom: 35px;

  &__title {
    font-size: 1rem;
    color: white;

    span {
      background-color: #4d457b;
      padding: 5px;
      border-radius: 5px;
    }
  }

  &__name {
    margin: 30px 0 10px;
  }

  &__email,
  &__phone {
    color: #6f6897;
    text-align: center;
    margin: 5px;
  }

  &__clear {
    display: block;
    margin: 20px auto 0;
  }

  &__buttons {
    margin-top: 20px;
    text-align: right;
  }

  @media screen and (min-width: 767px) {
    width: 50%;
    padding-left: 30px;
    padding-bottom: 0;

    &__buttons {
      margin-top: 35px;
    }
  }

  @media screen and (min-width: 991px) {
    width: auto;
  }
}
