.table {
  display: inline-block;
}

.table__header {
  font-weight: 600;
  font-size: 22px;
  background-color: #ccc;
}

.table__button-header {
  font-size: 18px;
  margin: 10px;
}

.table__button-header:hover {
  color: #202020;
}

td {
  border: 1px solid #000;
  padding: 10px;
}
