.TodoList {
  width: 100%;

  &__user-button--selected {
    background-color: #4d457b;
  }

  &__user-button {
    color: #fff;
  }

  &__flex {
    display: flex;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }

  &__findByTitle {
    width: 300px;
    margin: 10px;
  }

  &__findByComplited {
    margin: 10px;
  }
}
