.TodoList {
  width: 100%;

  &__user-button {
    background-color: white;
    padding: 8px;
    color: #4d457b;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__user-button--selected {
    background-color: #4d457b;
    color: white;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}
