.TodoList {
  width: 100%;

  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    margin: 10px;
    width: 200px;
  }

  &__user-button--selected {
    background-color: #4d457b;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}

.input,
.select {
  height: 25px;
  box-sizing: border-box;
}
