.TodoList {
  width: 100%;

  &__user-button--selected {
    background-color: #4d457b;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}

.App__input {
  position: relative;
  margin-bottom: 30px;
}
  
input.filterByTitle {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}

input.filterByTitle:focus {
  outline: none;
}
  
input.filterByTitle:focus ~ label,
input.filterByTitle:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264ae;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}
  
input.filterByTitle:focus ~ .bar:before,
input.filterByTitle:focus ~ .bar:after {
  width: 50%;
}

.App__select select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  margin: 10px;
}

button.beautiful.button {
  background-color: transparent;
  border: 1px solid;
  padding: 16px;
  border-radius: 4px;
  position: relative;
  margin: 10px;
  display: block;

  overflow: hidden;
}

button.beautiful.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: -1;
  transform: scaleX(0) skewX(-90deg);
  transition: transform 0.3s;
  transform-origin: right center;

}

button.beautiful.button:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}
