$general-bgc-gray: #eee;
$bgc-tabelTitle: azure;
$bgc-form-area: #fff;
$colorRemove: #fff;
$color-error: red;
$color-buttonCloseForm: red;
$color-borderInput: #000;
$color-borderTable: blue;
$bgc-buttonOpenForm: aqua;
$bgc-buttonAddUser: aquamarine;
$border-fieldSet: blue;
