body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background: #e7efec;
  color: #2f2f2f;
}
  
table {
  width: 1300px;
  background-color: #fff;
  border-collapse: collapse;
  text-align: left;
}

tr {
  line-height: 40px;
}

td {
  padding: 12px;
  font-size: 18px;
}

td:first-child {
  padding-left: 25px;
}

th {
  padding: 12px;
  color: rgb(179, 178, 178);
  cursor: pointer;
  text-align: center;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(0,102,135,.1);
}

tbody tr {
  transition: all .5s;
}

tbody tr:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


button:hover {
  background-color: #803535;
  cursor: pointer;
}


button {
 border-radius: 50%;
 width: 200px;
 height: 200px;
 border: none;
 display: block;
 margin: 100px auto;
 font-size: 40px;
 color:#fff;
 font-weight: bold;
 text-transform: uppercase;
 background: rgb(199, 55, 55);
 cursor: pointer;
}

button:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
}
