.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.load-btn {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 100px);

  width: 200px;
  height: 100px;

  border: 3px solid #000;
  border-radius: 5px;
  background: #4ce151;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.sort-buttons {
  display: flex;
  justify-content: space-around;

  &__btn {
  margin-bottom: 50px;
  width: 100px;
  height: 50px;

  border: 3px solid #000;
  border-radius: 5px;
  background: #4ce151;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  }

  &__btn:hover {
    background: #89ee8c;
  }
}

.main-title,
.todo-list-table__titles {
  font-family: 'Rock Salt', sans-serif;
}

.todo-list-table {
  margin: 0 auto;
  width: 100%;


  border-collapse: collapse;
  border: 3px solid #000;
  background: #71f075;

  td {
    line-height: 30px;
  }

  td,
  th,
  &__task {
    border: 2px solid #000;
  }

  &__titles {
    font-weight: 900;
    font-size: 21px;
    background: #4b693b;
  }

  &__title:hover,
  &__title:active {
    background: rgb(39, 123, 59);
  }

  &__tasks {
    text-align: left;
  }
}
