.app {
  text-align: center;
  margin: 20px auto;
}

.buttons-box {
  width: 60vw;
  margin: 0 auto;
}

.button {
  margin: 10px;
}

.table {
  width: 60vw;
  margin: 0 auto;
  border: 3px solid cornflowerblue;
  border-collapse: collapse;
}

.cell--head {
  background-color: aquamarine;
  height: 40px;
  color: cornflowerblue;
}

.cell {
  border: 3px solid cornflowerblue;
  font-size: 18px;
}
