ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

#root {
  text-align: center;
}

.todo__item {
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: rgb(235, 174, 174);
}

.todo__completed {
  background-color: rgb(167, 197, 167);
}

.todo__title {
  text-transform: uppercase;
}

.todo__button:not(:last-child) {
  margin-right: 5px;
}

.todo__button {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.todo__button--delete {
  margin-bottom: 10px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}

.lds-ellipsis div {
  position: absolute;
  top: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #cef;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
