.todo-list {
  width: 1200px;

  &__buttons {
    display: flex;
    gap: 8px;
  }
}

.message {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}

.button {
  width: 140px;
}
